---
import LayoutsChecklist from "../../../layouts/Layouts-checklist.astro";
import "../../../assets/styles/global.css";

const title = "Copy Fase Anual";
const migaPan = "Post Memoria / RRSS";

import logo from "../../../assets/img/logo.svg";
import Image from "astro/components/Image.astro";

import CheckboxCounter from "../../../components/CheckboxCounter.astro";
---

<LayoutsChecklist>
    <div
        class="w-full h-[30dvh] bg-gradient-to-br from-white via-gray-100 to-lime-200 flex flex-col items-center justify-center px-8"
    >
        <div class="flex gap-8 items-center flex-col lg:flex-row">
            <a href="/"><Image src={logo} alt="Logo" class="w-36" /></a>
            <h1 class="text-5xl text-black font-semibold">{title}</h1>
        </div>
        <p
            class="text-sm border-primary border-2 px-6 rounded-2xl text-gray-400 hover:scale-105 transition-transform mt-6"
        >
            <a href="/Postmemoria" class="hover:scale-105"
                >{migaPan}<span class="ml-2">{title}</span></a
            >
        </p>
    </div>

    <div class="w-full p-12 min-h-[80dvh] max-w-5xl mx-auto">
        <div class="space-y-8">
            <section>
                <h2 class="text-2xl font-bold mb-4">
                    1. Organización de la ppt
                </h2>
                <div class="flex flex-col space-y-3">
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >Organizar 37 slides nuevos siguiendo el orden de
                            las líneas de contenido definidas en la fase inicial</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >Validación de los hashtag y CTA correspondientes</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >Revisar comentario de la ppt y click up por si el
                            cliente tiene solicitudes especiales o fdk</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >Revisar que el formato de la imagen sea el
                            correspondiente</span
                        >
                    </label>
                </div>
            </section>
            <section>
                <h2 class="text-2xl font-bold mb-4">
                    2. Creación de contenidos
                </h2>
                <div class="flex flex-col space-y-3">
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >Asegurar que los Copies creados correspondan a las
                            líneas de contenido definidas desde la fase inicial</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >Asegurar que no haya contenido repetido con la fase
                            inicial</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >Revisar que el formato de copy para las categorías
                            fechas especiales y frases célebres sea el correcto
                            y máximo 1 año después de la emisión de factura</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >Asegurar que no haya ningún error en puntuación,
                            ortografía ni errores gramaticales</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >Asegurar que las imágenes sugeridas a diseño sean
                            acordes al post y que no estén repetidas (salvo en
                            los casos que aplique)</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >Asegurar que el formato de la ppt cumpla con el
                            estándar definido en cuanto a espacios, puntos,
                            tipografía, tamaño de letra y espaciado</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >Asegurar que el tono de comunicación sea acorde con
                            el empleado en la fase inicial</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >Asegurar que el caption y copy corresponden a Línea
                            de contenido son coherentes, con buena ortografía y
                            tienen cohesión</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >Asegurar que los Hashtags usados corresponden a la
                            Línea de contenido y/o publicación (según idioma) y
                            son únicos</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >En el caso de realizar un carrusel, se debe
                            detallar en el comentario correspondiente qué texto
                            va en cada imagen en el siguiente formato: Imagen 1
                            - COPY IN - Enlace</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >Verificar que los captions en las publicaciones de
                            la Línea de contenido relacionada a "entradas de
                            blog" contiene el enlace al blog, apartado o lugar
                            correspondiente</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >Verificar que las imágenes utilizadas tienen buena
                            calidad y pueden ser utilizadas por diseño (a no ser
                            que el cliente solicite imágenes específicas)</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >Asegurar que para los números de teléfono se emplea
                            el formato 111 111 111</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >Verificar que los CTA son coherentes con la línea
                            de contenido trabajada</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >Asegurar que la fuente empleada en captions es SEN
                            y su tamaño es 10 o 9 y el interlineado 1,15 o
                            Sencillo si se requiere por espacio</span
                        >
                    </label>
                </div>
            </section>
        </div>
    </div>
</LayoutsChecklist>
<CheckboxCounter />
