---
import LayoutsChecklist from "../../../layouts/Layouts-checklist.astro";
import "../../../assets/styles/global.css";

const title = "Diseño Fase Anual";
const migaPan = "Post Memoria / RRSS";

import logo from "../../../assets/img/logo.svg";
import Image from "astro/components/Image.astro";

import CheckboxCounter from "../../../components/CheckboxCounter.astro";
---

<LayoutsChecklist>
    <div
        class="w-full h-[30dvh] bg-gradient-to-br from-white via-gray-100 to-lime-200 flex flex-col items-center justify-center px-8"
    >
        <div class="flex gap-8 items-center flex-col lg:flex-row">
            <a href="/"><Image src={logo} alt="Logo" class="w-36" /></a>
            <h1 class="text-5xl text-black font-semibold">{title}</h1>
        </div>
        <p
            class="text-sm border-primary border-2 px-6 rounded-2xl text-gray-400 hover:scale-105 transition-transform mt-6"
        >
            <a href="/Postmemoria" class="hover:scale-105"
                >{migaPan}<span class="ml-2">{title}</span></a
            >
        </p>
    </div>

    <div class="w-full p-12 min-h-[80dvh] max-w-5xl mx-auto">
        <div class="space-y-8">
            <section>
                <h2 class="text-2xl font-bold mb-4">1. Revisión de la ppt</h2>
                <div class="flex flex-col space-y-3">
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >Se revisan las líneas de contenido para asegurar
                            que se continúe con lo definido en fase inicial</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >Se revisan los Copies y las imágenes para asegurar
                            que no se hayan repetido tanto en fase inicial como
                            en fase anual</span
                        >
                    </label>
                </div>
            </section>
            <section>
                <h2 class="text-2xl font-bold mb-4">2. Creación de los post</h2>
                <div class="flex flex-col space-y-3">
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span>Revisión del Canva y archivos</span>
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >Se nombran las publicaciones por contenido y número
                            en el Canva</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span>Asegurar que las imágenes no se repitan</span>
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >Verificar que los nombres de los autores deben
                            aparecer en una sola línea; si esto no es posible,
                            los nombres y apellidos deben distribuirse de manera
                            equilibrada entre las líneas utilizadas.</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span>Verificar el uso adecuado de las márgenes</span>
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >Verificar que el diseño no presenta espacios vacíos
                            innecesarios.</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >Acomodar las imágenes de acuerdo a los post
                            correspondientes</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >Acomodar los cuadros de texto y elementos gráficos
                            de la plantilla de acuerdo a los post
                            correspondientes</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >Asegurar que los post cumplan con el estilo gráfico
                            definido en la fase inicial, en cuanto a espacios,
                            puntos, tipografía, tamaño de letra y espaciado,
                            color, etc</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >Asegurar el uso adecuado del logo en los post en
                            los que aplique</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >Asegurar que el número de publicaciones sea
                            correcto (37)</span
                        >
                    </label>
                </div>
            </section>
            <section>
                <h2 class="text-2xl font-bold mb-4">3. Entrega del Drive</h2>
                <div class="flex flex-col space-y-3">
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >Asegurarse que los post estén nombrados
                            correctamente: nombre del cliente-publicación
                            X-categoría</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >Asegurarse que los post queden subidos en la
                            carpeta de fase anual</span
                        >
                    </label>
                </div>
            </section>
        </div>
    </div>
</LayoutsChecklist>
<CheckboxCounter />
