---
import LayoutsChecklist from "../../../layouts/Layouts-checklist.astro";
import "../../../assets/styles/global.css";

const title = "Copy";
const migaPan = "Pre Memoria / Web";

import logo from "../../../assets/img/logo.svg";
import Image from "astro/components/Image.astro";

import CheckboxCounter from "../../../components/CheckboxCounter.astro";
---

<LayoutsChecklist>
    <div
        class="w-full h-[30dvh] bg-gradient-to-br from-white via-gray-100 to-lime-200 flex flex-col items-center justify-center"
    >
        <div class="flex gap-8 items-center">
            <a href="/"><Image src={logo} alt="Logo" class="w-35" /></a>
            <h1 class="text-5xl text-black">{title}</h1>
        </div>
        <p
            class="text-sm border-primary border-2 px-4 rounded-2xl text-gray-400 hover:scale-105 transition-transform mt-8"
        >
            <a href="/Prememoria" class="hover:scale-105">{migaPan}</a>
            <span>{title}</span>
        </p>
    </div>

    <div class="w-full p-12 h-dvh">
        <div>
            <CheckboxCounter client:load />
            <h2 class="text-xl font-bold">
                1. Investigación y recolección de información
            </h2>
            <div class="flex flex-col">
                <label>
                    <input type="checkbox" class="chk-activo" />
                    <span
                        >Revisé comentarios en Clickup para validar información
                        relevante del proyecto.</span
                    >
                </label>
                <label>
                    <input type="checkbox" class="chk-activo" />
                    <span
                        >Analicé si el Brief contaba con Web actual (y confirmé
                        si deseaba o no el mismo contenido), Web de referencia,
                        tips y/o estructura web solicitada.</span
                    >
                </label>
                <label>
                    <input type="checkbox" class="chk-activo" />
                    <span
                        >Revisé la carpeta del cliente (textos, videos, carpetas
                        de kit diligenciadas)</span
                    >
                </label>
                <label>
                    <input type="checkbox" class="chk-activo" />
                    <span
                        >Tuve en cuenta el contexto, productos y servicios
                        solicitados en el brief o figma.</span
                    >
                </label>

                <h2 class="text-xl font-bold mt-8">
                    2. Redacción y construcción de contenido
                </h2>
                <label>
                    <input type="checkbox" class="chk-activo" />
                    <span
                        >Integré el nombre comercial proporcionado por el
                        cliente, garantizando coherencia con su identidad de
                        marca.</span
                    >
                </label>
                <label>
                    <input type="checkbox" class="chk-activo" />
                    <span
                        >La web quedó con el tono y sujeto gramatical solicitado
                        en los campos correspondientes del brief, y en caso de
                        no haberse especificado, se realizó de acuerdo al
                        contexto del negocio.</span
                    >
                </label>
                <label>
                    <input type="checkbox" class="chk-activo" />
                    <span
                        >La web cuenta con mínimo 3 apartados y su estructura
                        web acorde al brief.</span
                    >
                </label>
                <label>
                    <input type="checkbox" class="chk-activo" />
                    <span
                        >Verifiqué que las descripciones cuentan con el título
                        H1 y que los párrafos quedaron de 4 líneas o más (si
                        superó las 4 líneas, conservé los espacios).</span
                    >
                </label>
                <label>
                    <input type="checkbox" class="chk-activo" />
                    <span
                        >Dejé todo el contenido de la web en castellano.
                        (Excepto palabras puntuales que el cliente maneje en
                        otro idioma. Ej: Portfolio)</span
                    >
                </label>

                <h2 class="text-xl font-bold mt-8">
                    3. Revisión de estilo y calidad
                </h2>
                <label>
                    <input type="checkbox" class="chk-activo" />
                    <span
                        >La web cuenta con textos sin errores ortográficos y sin
                        lorem (y si tenía web actual, validé errores
                        ortográficos).</span
                    >
                </label>
                <label>
                    <input type="checkbox" class="chk-activo" />
                    <span
                        >Revisé o cambié el tono del texto que acompaña los
                        iconos de las redes sociales en el footer. (Ej: Síguenos
                        o Sígueme)</span
                    >
                </label>

                <h2 class="text-xl font-bold mt-8">
                    4. Validaciones técnicas y de usabilidad (desde copy)
                </h2>
                <label>
                    <input type="checkbox" class="chk-activo" />
                    <span
                        >La web cuenta con Reviews de Google Maps (incluido el mapa) y RRSS.</span
                    >
                </label>
                <label>
                    <input type="checkbox" class="chk-activo" />
                    <span
                        >La web cuenta con botones funcionales y botón de accesibilidad.</span
                    >
                </label>
                <label>
                    <input type="checkbox" class="chk-activo" />
                    <span
                        >La web cuenta con botón CTA.</span
                    >
                </label>
                <label>
                    <input type="checkbox" class="chk-activo" />
                    <span
                        >La web cuenta con los formatos de teléfono, horarios, dirección y precios correctos.</span
                    >
                </label>
                <label>
                    <input type="checkbox" class="chk-activo" />
                    <span
                        >Validé que en caso de que el cliente no tuviera información de contacto, dejé solo correo electrónico y número telefónico.</span
                    >
                </label>

            </div>
        </div>
    </div>
</LayoutsChecklist>
