---
import LayoutsChecklist from "../../../layouts/Layouts-checklist.astro";
import "../../../assets/styles/global.css";

const title = "Diseño";
const migaPan = "Pre Memoria / RRSS";

import logo from "../../../assets/img/logo.svg";
import Image from "astro/components/Image.astro";

import CheckboxCounter from "../../../components/CheckboxCounter.astro";
---

<LayoutsChecklist>
    <div
        class="w-full h-[30dvh] bg-gradient-to-br from-white via-gray-100 to-lime-200 flex flex-col items-center justify-center px-8"
    >
        <div class="flex gap-8 items-center flex-col lg:flex-row">
            <a href="/"><Image src={logo} alt="Logo" class="w-36" /></a>
            <h1 class="text-5xl text-black font-semibold">{title}</h1>
        </div>
        <p
            class="text-sm border-primary border-2 px-6 rounded-2xl text-gray-400 hover:scale-105 transition-transform mt-6"
        >
            <a href="/Prememoria" class="hover:scale-105">{migaPan}</a>
            <span class="ml-2">{title}</span>
        </p>
    </div>

    <div class="w-full p-12 min-h-[80dvh] max-w-5xl mx-auto">
        <div class="space-y-8">
            <section>
                <h2 class="text-2xl font-bold mb-4">
                    1. Uso correcto del Logo
                </h2>
                <div class="flex flex-col space-y-3">
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >Cliente con logo propio, se usa el logo del cliente
                            en la diapositiva - 2. Proyecto con Brex, se usa el
                            logo creado y este corresponde a las
                            especificaciones dadas - 3. Proyecto sin logo y sin
                            Brex, se usa logo tipo: Nombre Comercial</span
                        >
                    </label>
                </div>
            </section>

            <section>
                <h2 class="text-2xl font-bold mb-4">
                    2. Buenas prácticas de diseño
                </h2>
                <div class="flex flex-col space-y-3">
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >El diseño no presenta espacios vacíos innecesarios.</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >El uso de márgenes es adecuado, evitando que los
                            textos se sitúen demasiado cerca de los bordes.</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >La tipografía utilizada asegura una lectura clara y
                            legible.</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >El copy debe estar en un color que garantice una
                            legibilidad óptima, manteniendo un contraste
                            adecuado con el fondo.</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >Los nombres de los autores deben aparecer en una
                            sola línea; si esto no es posible, los nombres y
                            apellidos deben distribuirse de manera equilibrada
                            entre las líneas utilizadas.</span
                        >
                    </label>
                </div>
            </section>
            <section>
                <h2 class="text-2xl font-bold mb-4">3. Radiografía</h2>
                <div class="flex flex-col space-y-3">
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >El ejemplo de publicación incluye: nombre de
                            usuario, imagen, descripción, CTA y hashtags, todos
                            en el formato adecuado para Instagram. El nombre de
                            usuario debe ser correcto, sin espacios y en
                            minúsculas, y se encuentra en el campo
                            correspondiente de la diapositiva "Situación
                            actual".</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >El ejemplo de publicación incluye: nombre, imagen,
                            descripción del post, CTA y hashtags, todos en el
                            formato adecuado para LinkedIn.</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >El nombre de usuario debe estar en minúsculas y sin
                            espacios.</span
                        >
                    </label>
                    <section>
                        <h2 class="text-2xl font-bold mb-4">
                            4. Buenas prácticas de diseño
                        </h2>
                        <div class="flex flex-col space-y-3">
                            <label class="flex items-start gap-2">
                                <input
                                    type="checkbox"
                                    class="chk-activo mt-1"
                                />
                                <span
                                    >El copy en las imágenes coincide con los
                                    comentarios del copywriter.</span
                                >
                            </label>
                            <label class="flex items-start gap-2">
                                <input
                                    type="checkbox"
                                    class="chk-activo mt-1"
                                />
                                <span
                                    >Imágenes usadas no se repiten (excluye
                                    líneas de contenido fijas)</span
                                >
                            </label>
                            <label class="flex items-start gap-2">
                                <input
                                    type="checkbox"
                                    class="chk-activo mt-1"
                                />
                                <span>Hay un mínimo de 15 publicaciones.</span>
                            </label>
                            <label class="flex items-start gap-2">
                                <input
                                    type="checkbox"
                                    class="chk-activo mt-1"
                                />
                                <span
                                    >Se aplican las buenas prácticas de diseño.</span
                                >
                            </label>
                            <label class="flex items-start gap-2">
                                <input
                                    type="checkbox"
                                    class="chk-activo mt-1"
                                />
                                <span
                                    >Las comillas gráficas están integradas
                                    adecuadamente y forman parte del texto.</span
                                >
                            </label>
                            <label class="flex items-start gap-2">
                                <input
                                    type="checkbox"
                                    class="chk-activo mt-1"
                                />
                                <span
                                    >Los Copies presentan una ortografía
                                    correcta.</span
                                >
                            </label>
                            <label class="flex items-start gap-2">
                                <input
                                    type="checkbox"
                                    class="chk-activo mt-1"
                                />
                                <span
                                    >Las diapositivas de publicaciones no deben
                                    tener texto por fuera de la diapositiva ni
                                    interrumpir ningún otro elemento de la
                                    presentación.</span
                                >
                            </label>
                            <label class="flex items-start gap-2">
                                <input
                                    type="checkbox"
                                    class="chk-activo mt-1"
                                />
                                <span
                                    >Si en el COPY IN, se establece el texto
                                    antes de los 2 puntos como un título, el
                                    texto siguiente a los 2 puntos empezará con
                                    mayúscula. Si en el COPY IN, todo el texto
                                    va de corrido o va junto, la primera palabra
                                    se comenzará en minúscula.</span
                                >
                            </label>
                        </div>
                    </section>
                    <section>
                        <h2 class="text-2xl font-bold mb-4">
                            5. Perfil optimizado LinkedIn
                        </h2>
                        <div class="flex flex-col space-y-3">
                            <label class="flex items-start gap-2">
                                <input
                                    type="checkbox"
                                    class="chk-activo mt-1"
                                />
                                <span
                                    >El lema del recuadro y el del mockup son
                                    los mismos.</span
                                >
                            </label>
                            <label class="flex items-start gap-2">
                                <input
                                    type="checkbox"
                                    class="chk-activo mt-1"
                                />
                                <span
                                    >El sector en la diapositiva "HORARIO DE
                                    PUBLICACIONES" coincide con el del mockup.</span
                                >
                            </label>
                            <label class="flex items-start gap-2">
                                <input
                                    type="checkbox"
                                    class="chk-activo mt-1"
                                />
                                <span
                                    >El nombre comercial en el recuadro coincide
                                    con el del mockup.</span
                                >
                            </label>
                            <label class="flex items-start gap-2">
                                <input
                                    type="checkbox"
                                    class="chk-activo mt-1"
                                />
                                <span
                                    >El mockup incluye la portada, el lema, el
                                    resumen (descripción de LinkedIn con la
                                    mayor cantidad de texto posible), el sector
                                    (categoría), el nombre y la foto de perfil.</span
                                >
                            </label>
                        </div>
                    </section>
                </div>
            </section>
            <section>
                <h2 class="text-2xl font-bold mb-4">6. Slide de diseño</h2>
                <div class="flex flex-col space-y-3">
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >Las Imágenes en la diapositiva "Diseños" deben
                            estar completas y en orden de acuerdo a las líneas
                            de contenido definidas</span
                        >
                    </label>
                </div>
            </section>
            <section>
                <h2 class="text-2xl font-bold mb-4">7. Entregables Drive</h2>
                <div class="flex flex-col space-y-3">
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >La carpeta "Fotos de perfil" contiene una imagen
                            para la foto de perfil y otra para la foto de
                            portada, ambas con la nomenclatura y proporción
                            correctas.</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >La carpeta "Publicaciones: Diseño de las
                            Plantillas" contiene las imágenes de todos los Key
                            Visuals e historias destacadas (Proyecto IG+FB) con
                            la nomenclatura correcta.</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >La carpeta "Publicaciones: Semana de Lanzamiento +
                            Fase Inicial" contiene las imágenes de todas las
                            publicaciones con la nomenclatura correcta.</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >Todas las carpetas empleadas por diseño están
                            almacenadas en el Drive en la ubicación
                            correspondiente.</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >Las dimensiones de las imágenes utilizadas son
                            correctas: Foto de perfil: 1080x1080 px, Portada de
                            Facebook: 1640x924 px, Portada de LinkedIn: 3165x791
                            px.</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            ><span class="font-bold font-italic pb-4"
                                >Uso correcto de nomenclatura:</span
                            >
                            <p>
                                - Carpeta fotos de perfil: Cliente - Foto de
                                perfil / Cliente - Foto de portada Facebook /
                                Cliente - Foto de portada LinkedIn
                            </p>
                            <br />
                            <p>
                                - Carpeta Publicaciones: Diseño de las
                                Plantillas: Cliente - Publicacion # - Línea de
                                contenido / Cliente - Story destacada # - Nombre
                            </p>
                            <br />
                            <p>
                                - Carpeta Publicaciones: Semana de lanzamiento +
                                Fase inicial: Cliente - Publicacion # - Línea de
                                contenido Carruseles: Cliente - Publicación 1a -
                                Servicios / Cliente - Publicación 1b - Servicios
                                / Cliente - Publicación 1c - Servicios
                            </p></span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >Proyecto con BREX: Carpeta Branding Express tiene
                            una carpeta nombrada PNG y otra SVG</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >Proyecto con BREX: Carpeta PNG tiene mínimo una
                            imagen correspondiente al BREX en formato PNG</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >Proyecto con BREX: Carpeta SVG tiene mínimo una
                            imagen correspondiente al BREX en formato SVG</span
                        >
                    </label>
                </div>
            </section>
            <section>
                <h2 class="text-2xl font-bold mb-4">8. Look & Feel</h2>
                <div class="flex flex-col space-y-3">
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >Las Imágenes empleadas pertenecen a publicaciones de la fase inicial.</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >Las imágenes empleadas están ubicadas dentro del espacio asignado en la plantilla</span
                        >
                    </label>
                </div>
            </section>
            <section>
                <h2 class="text-2xl font-bold mb-4">9.Colores y tipografía</h2>
                <div class="flex flex-col space-y-3">
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >La paleta de colores cumple con las especificaciones dadas y muestra el código correspondiente para cada color.</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >Las tipografías utilizadas corresponden a las especificadas. Si no se han indicado, se deben proponer al menos dos opciones con sus respectivos nombres. (Mínimo 2)</span
                        >
                    </label>
                </div>
            </section>
            <section>
                <h2 class="text-2xl font-bold mb-4">10.Perfil optimizado Instagram</h2>
                <div class="flex flex-col space-y-3">
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >El texto de la biografía en el recuadro y en el mockup es el mismo.</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >La categoría en el recuadro y en el mockup es la misma.</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >El nombre comercial en el recuadro y en el mockup es el mismo.</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >El nombre de usuario utilizado en la situación actual y en el mockup es el mismo.</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >El mockup muestra tres publicaciones, cuatro historias destacadas, biografía, nombre, nombre de usuario y foto de perfil.</span
                        >
                    </label>
                </div>
            </section>
            <CheckboxCounter />
        </div>
    </div>
</LayoutsChecklist>
