---
import Layout from "../layouts/Layout.astro";
import "../assets/styles/global.css";

import logo from "../assets/img/logo.svg";
import Image from "astro/components/Image.astro";

const Title = "Post Memoria";
---

<Layout>
    <div
        class="flex flex-col items-center justify-center min-h-screen gap-8 p-4 bg-base-200 w-full h-screen bg-gradient-to-br from-white via-gray-100 to-lime-200"
    >
        <Image src={logo} alt="Logo" class="w-60" />
        <h1 class="text-5xl font-bold text-primary">{Title}</h1>

       <div class="mb-10">
         <div class="flex items-center justify-center w-dvw">
            <div
                class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 w-full max-w-6xl"
            >
                <!-- Bloque WEB -->
                <div
                    class="flex flex-col items-center justify-center bg-white rounded-2xl shadow p-6 hover:scale-105 transition-transform"
                >
                    <img src="WEB.svg" class="w-48 h-48" alt="WEB" />
                    <h2 class="text-3xl font-bold text-primary mt-4">WEB</h2>
                    <div
                        class="grid grid-cols-1 sm:grid-cols-3 gap-4 mt-6 w-full font-bold"
                    >
                        <a
                            href="#"
                            class="text-center w-full rounded-2xl p-4 bg-gray-100 shadow hover:scale-105 transition-transform justify-center items-center"
                            >Copy</a
                        >
                        <a
                            href="#"
                            class="text-center w-full rounded-2xl p-4 bg-gray-100 shadow hover:scale-105 transition-transform justify-center items-center"
                            >Diseño</a
                        >
                        <a
                            href="#"
                            class="text-center justify-center items-center w-full rounded-2xl p-4 bg-gray-100 shadow hover:scale-105 transition-transform"
                            >IMP</a
                        >
                    </div>
                </div>

                <!-- Bloque RRSS -->
                <div
                    class="flex flex-col items-center justify-center bg-white rounded-2xl shadow p-6 hover:scale-105 transition-transform"
                >
                    <img src="RRSS.svg" class="w-48 h-48" alt="RRSS" />
                    <h2 class="text-3xl font-bold text-primary mt-4">RRSS</h2>
                    <div
                        class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-6 w-full justify-items-center font-bold"
                    >
                        <a
                            href="#"
                            class="text-center w-full max-w-xs rounded-2xl p-4 bg-gray-100 shadow hover:scale-105 transition-transform"
                            >Copy /Estrategia</a
                        >
                        <a
                            href="#"
                            class="text-center w-full max-w-xs rounded-2xl p-4 bg-gray-100 shadow hover:scale-105 transition-transform justify-self-center"
                        >
                            Diseño
                        </a>
                    </div>
                </div>

                <!-- Bloque SEO -->
                <div
                    class="flex flex-col items-center justify-center bg-white rounded-2xl shadow p-6 hover:scale-105 transition-transform"
                >
                    <img src=".SEO.svg" class="w-48 h-48" alt="SEO" />
                    <h2 class="text-3xl font-bold text-primary mt-4">SEO</h2>
                    <div
                        class="grid grid-cols-1 sm:grid-cols-3 gap-4 mt-6 w-full font-bold"
                    >
                        <a
                            href="#"
                            class="text-center w-full rounded-2xl p-4 bg-gray-100 shadow hover:scale-105 transition-transform"
                            >Copy</a
                        >
                        <a
                            href="#"
                            class="text-center w-full rounded-2xl p-4 bg-gray-100 shadow hover:scale-105 transition-transform"
                            >Analista</a
                        >
                        <a
                            href="#"
                            class="text-center w-full rounded-2xl p-4 bg-gray-100 shadow hover:scale-105 transition-transform"
                            >IMP</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</Layout>


<style>
    
</style>