---
import Layout from "../layouts/Layout.astro";
import "../assets/styles/global.css";

import logo from "../assets/img/logo.svg";
import Image from "astro/components/Image.astro";

const Title = "Post Memoria";
---

<Layout>
    <div
        class="flex flex-col items-center justify-center min-h-screen bg-base-200 w-full overflow-x-hidden bg-gradient-to-br from-white via-gray-100 to-lime-200"
    >
        <div class="m-8 flex flex-col items-center justify-center">
            <a href="/"><Image src={logo} alt="Logo" class="w-35" /></a>
            <h1 class="text-4xl font-bold text-primary">{Title}</h1>
            <a href="./" class="bg-lime-300 text-black rounded-lg px-4 py-2 flex"
                > <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l4 4" /><path d="M5 12l4 -4" /></svg>  Volver Atras</a
            >
        </div>

        <div class="m-10 w-full">
            <div class="flex items-center justify-center w-full">
                <div
                    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 w-full px-6"
                >
                    <!-- Bloque WEB -->
                    <div
                        class="flex flex-col items-center justify-center bg-white rounded-2xl shadow p-6 lg:hover:scale-105 transition-transform"
                    >
                        <h2 class="text-3xl font-bold text-primary mt-4">
                            WEB
                        </h2>
                        <img src="WEB.svg" class="w-48 h-48" alt="WEB" />
                        <div
                            class="grid grid-cols-1 sm:grid-cols-3 gap-4 mt-6 w-full font-bold"
                        >
                            <a
                                href="./postmemoria/WEB/COPY"
                                class="relative inline-block w-full rounded-2xl p-[2px] hover:bg-gradient-to-br from-white via-gray-100 to-lime-300 shadow hover:scale-105 transition-transform"
                            >
                                <span
                                    class="block rounded-2xl bg-gray-100 p-4 text-center font-bold hover:text-black"
                                >
                                    Copy
                                </span>
                            </a>
                            <a
                                href="./postmemoria/WEB/DISEÑO"
                                class="relative inline-block w-full rounded-2xl p-[2px] hover:bg-gradient-to-br from-white via-gray-100 to-lime-300 shadow hover:scale-105 transition-transform"
                            >
                                <span
                                    class="block rounded-2xl bg-gray-100 p-4 text-center font-bold hover:text-black"
                                >
                                    Diseño
                                </span>
                            </a>
                            <a
                                href="./postmemoria/WEB/IMP"
                                class="relative inline-block w-full rounded-2xl p-[2px] hover:bg-gradient-to-br from-white via-gray-100 to-lime-300 shadow hover:scale-105 transition-transform"
                            >
                                <span
                                    class="block rounded-2xl bg-gray-100 p-4 text-center font-bold hover:text-black"
                                >
                                    IMP
                                </span>
                            </a>
                        </div>
                    </div>

                    <!-- Bloque RRSS -->
                    <div
                        class="flex flex-col items-center justify-center bg-white rounded-2xl shadow p-6 lg:hover:scale-105 transition-transform"
                    >
                        <h2 class="text-3xl font-bold text-primary mt-4">
                            RRSS
                        </h2>
                        <img src="RRSS.svg" class="w-48 h-48" alt="RRSS" />
                        <div
                            class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-6 w-full justify-items-center font-bold"
                        >
                            <a
                                href="./postmemoria/RRSS/COPY-FA"
                                class="relative inline-block w-full rounded-2xl p-[2px] hover:bg-gradient-to-br from-white via-gray-100 to-lime-300 shadow hover:scale-105 transition-transform"
                            >
                                <span
                                    class="block rounded-2xl bg-gray-100 p-4 text-center font-bold hover:text-black"
                                >
                                    Copy F.A
                                </span>
                            </a>
                            <a
                                href="./postmemoria/RRSS/DISEÑO-FA"
                                class="relative inline-block w-full rounded-2xl p-[2px] hover:bg-gradient-to-br from-white via-gray-100 to-lime-300 shadow hover:scale-105 transition-transform"
                            >
                                <span
                                    class="block rounded-2xl bg-gray-100 p-4 text-center font-bold hover:text-black"
                                >
                                    Diseño F.A
                                </span>
                            </a>
                            <a
                                href="./postmemoria/RRSS/IMP-FI"
                                class="relative inline-block w-full rounded-2xl p-[2px] hover:bg-gradient-to-br from-white via-gray-100 to-lime-300 shadow hover:scale-105 transition-transform"
                            >
                                <span
                                    class="block rounded-2xl bg-gray-100 p-4 text-center font-bold hover:text-black"
                                >
                                    IMP F.I
                                </span>
                            </a>
                            <a
                                href="./postmemoria/RRSS/IMP-FA"
                                class="relative inline-block w-full rounded-2xl p-[2px] hover:bg-gradient-to-br from-white via-gray-100 to-lime-300 shadow hover:scale-105 transition-transform"
                            >
                                <span
                                    class="block rounded-2xl bg-gray-100 p-4 text-center font-bold hover:text-black"
                                >
                                    IMP F.A
                                </span>
                            </a>
                        </div>
                    </div>

                    <!-- Bloque SEO -->
                    <div
                        class="flex flex-col items-center justify-center bg-white rounded-2xl shadow p-6 hover:scale-105 transition-transform"
                    >
                        <h2 class="text-3xl font-bold text-primary mt-4">
                            SEO
                        </h2>
                        <img src="SEO.svg" class="w-48 h-48" alt="SEO" />
                        <div
                            class="grid grid-cols-1 sm:grid-cols-3 gap-4 mt-6 w-full font-bold"
                        >
                            <a
                                href="./postmemoria/SEO/COPY"
                                class="relative inline-block w-full rounded-2xl p-[2px] hover:bg-gradient-to-br from-white via-gray-100 to-lime-300 shadow hover:scale-105 transition-transform"
                            >
                                <span
                                    class="block rounded-2xl bg-gray-100 p-4 text-center font-bold hover:text-black"
                                >
                                    Copy
                                </span>
                            </a>
                            <a
                                href="./postmemoria/SEO/ANALISTA"
                                class="relative inline-block w-full rounded-2xl p-[2px] hover:bg-gradient-to-br from-white via-gray-100 to-lime-300 shadow hover:scale-105 transition-transform"
                            >
                                <span
                                    class="block rounded-2xl bg-gray-100 p-4 text-center font-bold hover:text-black"
                                >
                                    Analista
                                </span>
                            </a>
                            <a
                                href="./postmemoria/SEO/IMP"
                                class="relative inline-block w-full rounded-2xl p-[2px] hover:bg-gradient-to-br from-white via-gray-100 to-lime-300 shadow hover:scale-105 transition-transform"
                            >
                                <span
                                    class="block rounded-2xl bg-gray-100 p-4 text-center font-bold hover:text-black"
                                >
                                    IMP
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Layout>
