---
const fecha = new Date().getFullYear();
---
<div class="bg-black text-base-content z-20 ">
  <footer class="py-4 text-center text-white">
    <a href="https://nilspineda.com" target="_blank"> Desarrollado por <span class="font-bold ">Nils Pineda {fecha} </span> </a>
  </footer>
</div>