---
const fecha = new Date().getFullYear();
---

<div class="min-h-screen flex flex-col">
  <main class="flex-grow">
    <!-- Aquí va tu contenido -->
  </main>

  <footer class="bg-black text-white py-4 text-center">
    <a href="https://nilspineda.com" target="_blank">
      Desarrollado por <span class="font-bold">Nils Pineda</span> {fecha}
    </a>
  </footer>
</div>
