---
const fecha = new Date().getFullYear();
---
<div class="bg-base-200 text-base-content">
  <footer class="py-4 text-center">
    <a href="https://nilspineda.com" target="_blank"> Desarrollado por <span class="font-bold">Nils Pineda</span> {fecha} </a>
  </footer>
</div>