---
import LayoutsChecklist from "../../../layouts/Layouts-checklist.astro";
import "../../../assets/styles/global.css";

const title = "Diseño";
const migaPan = "Post Memoria / Web";

import logo from "../../../assets/img/logo.svg";
import Image from "astro/components/Image.astro";

import CheckboxCounter from "../../../components/CheckboxCounter.astro";
---

<LayoutsChecklist>
    <div
        class="w-full h-[30dvh] bg-gradient-to-br from-white via-gray-100 to-lime-200 flex flex-col items-center justify-center px-8"
    >
        <div class="flex gap-8 items-center flex-col lg:flex-row">
            <a href="/"><Image src={logo} alt="Logo" class="w-36" /></a>
            <h1 class="text-5xl text-black font-semibold">{title}</h1>
        </div>
        <p
            class="text-sm border-primary border-2 px-6 rounded-2xl text-gray-400 hover:scale-105 transition-transform mt-6"
        >
            <a href="/Postmemoria" class="hover:scale-105"
                >{migaPan}<span class="ml-2">{title}</span></a
            >
        </p>
    </div>

    <div class="w-full p-12 min-h-[80dvh] max-w-5xl mx-auto">
        <div class="space-y-8">
            <section>
                <h2 class="text-2xl font-bold mb-4">
                    1. Investigación y recolección de información
                </h2>
                <div class="flex flex-col space-y-3">
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >Si el logo sufrió modificaciones, ¿el diseñador
                            dejó el logo actualizado junto con los archivos
                            vectorizados?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿Se aplicó correctamente el nombre comercial en el
                            logo de acuerdo a las instrucciones del cliente?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿La maqueta sigue el diseño actual, incluyendo
                            nuevos apartados, según el branding y/o referente
                            solicitado por el cliente en markup, clickup o
                            drive?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿El diseño se ciñe a los colores y tipografías
                            solicitados por el cliente en markup, clickup o
                            drive?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿Las imágenes representan correctamente la
                            categoría del negocio?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿Las entradas del inicio se ajustaron de acuerdo a
                            las nuevas secciones creadas? - Copy - Diseño</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿La maqueta cuenta con márgenes, imágenes, iconos
                            acorde a lo solicitado por el cliente en markup,
                            clickup o drive?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿Se incluyeron o se eliminan los elementos gráficos
                            como mapa, botón de WhatsApp, reseñas de Google Maps
                            y redes sociales solicitadas por el cliente? -
                            OPCIONAL</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿Se incluye todos los elementos publicitarios
                            requeridos por el Kit Digital? (No aplica fuera de
                            subvención)</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿El footer incluye los elementos mínimos requeridos
                            por el Kit Digital? (Logo y legales)</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿Se ajustó el diseño de la web con la información
                            de contacto solicitada por el cliente?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿La web tiene los 3 apartados mínimos requeridos
                            solicitados por el cliente o un landing?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿Se realizaron correctamente cambios estructurales
                            o nuevos elementos enviados por el cliente en
                            markup, clickup o drive?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿Se ajustó o eliminó el CTA según lo requerido?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿El Figma tiene la nomenclatura de feedback
                            NOMBRE-ROL-FECHA?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿La calidad de las imágenes es adecuada? - Imagenes
                            proporcionadas por el cliente no tendrán buena
                            calidad</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿Los iconos representan visualmente el elemento y
                            su función?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span>¿Se dejan comentarios para guiar a QA o IMP?</span
                        >
                    </label>
                    <CheckboxCounter />
                    </LayoutsChecklist
>
