---
import LayoutsChecklist from "../../../layouts/Layouts-checklist.astro";
import "../../../assets/styles/global.css";

const title = "Implementacion 游뱆游";
const migaPan = "Post Memoria / Web";

import logo from "../../../assets/img/logo.svg";
import Image from "astro/components/Image.astro";

import CheckboxCounter from "../../../components/CheckboxCounter.astro";
---

<LayoutsChecklist>
    <div
        class="w-full h-[30dvh] bg-gradient-to-br from-white via-gray-100 to-lime-200 flex flex-col items-center justify-center px-8"
    >
        <div class="flex gap-8 items-center flex-col lg:flex-row">
            <a href="/"><Image src={logo} alt="Logo" class="w-36" /></a>
            <h1 class="text-5xl text-black font-semibold">{title}</h1>
        </div>
        <p
            class="text-sm border-primary border-2 px-6 rounded-2xl text-gray-400 hover:scale-105 transition-transform mt-6"
        >
            <a href="/Postmemoria" class="hover:scale-105"
                >{migaPan}<span class="ml-2">{title}</span></a
            >
        </p>
    </div>

    <div class="w-full p-12 min-h-[80dvh] max-w-5xl mx-auto">
        <div class="space-y-8">
            <section>
                <h2 class="text-2xl font-bold mb-4">1. Dise침o</h2>
                <div class="flex flex-col space-y-3">
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >쯉e ha implementado correctamente el dise침o de
                            Figma?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >쯉e aplicaron correctamente la tipograf칤a y la
                            negrita seg칰n lo indicado en Figma?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >쯃a calidad de las im치genes es adecuada para la
                            visualizaci칩n del nuevo dise침o solicitado por el
                            cliente?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >쮼l formato de precio de los art칤culos coincide con
                            lo que desea el cliente? (Si no se especifica, se
                            utiliz칩 el formato est치ndar).</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >쯃os iconos reflejan de manera adecuada la
                            representaci칩n visual del elemento web y su funci칩n?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >쯉e utilizaron los materiales proporcionados por el
                            cliente y almacenados en la carpeta de Drive?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >쯃os textos legales fueron modificados
                            correctamente seg칰n las peticiones del cliente?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >쮼l footer de la web incluye los elementos m칤nimos
                            requeridos por el Kit Digital? (Logo y legales)</span
                        >
                    </label>
                </div>
            </section>

            <section>
                <h2 class="text-2xl font-bold mb-4">2. Funcionalidad</h2>
                <div class="flex flex-col space-y-3">
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >쯃os botones est치n funcionando correctamente en la
                            estructura modificada?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >쯃os formularios implementados funcionan
                            correctamente?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >쯉e realiz칩 la configuraci칩n correcta del
                            ecommerce?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >쮼l sistema a침adido de b칰squeda es funcional?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >쯉e llev칩 a cabo el enmascaramiento de manera
                            correcta?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >쯃a web cuenta con an치lisis de palabras claves,
                            indexaci칩n, H1 y jerarquizaci칩n del contenido?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >쮺ontiene los accesos del WordPress con /KD-SysAd?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >쯉e encuentran los datos p칰blicos del whois activos
                            en el dominio?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >쯉e ha respetado la directriz de no incluir CTA en
                            las secciones legales?</span
                        >
                    </label>
                </div>
            </section>

            <section>
                <h2 class="text-2xl font-bold mb-4">
                    3. Estructura y Responsividad
                </h2>
                <div class="flex flex-col space-y-3">
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >쯉e ha incluido un H1 en cada una de las p치ginas
                            implementadas?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >쯃a estructura web ajustada es responsive y se
                            adapta correctamente a los layouts de dise침o en PC,
                            tablet y m칩vil?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >쮼st치 ajustado el formato de correo, direcci칩n,
                            horarios y mapa seg칰n las instrucciones del cliente?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >쯃os m치rgenes est치n de acuerdo al dise침o requerido
                            por el cliente? Si el cliente no tiene m치rgenes
                            personalizadas cumple con las establecidas por
                            ORBIDI</span
                        >
                    </label>
                </div>
            </section>

            <section>
                <h2 class="text-2xl font-bold mb-4">4. URL y Navegaci칩n</h2>
                <div class="flex flex-col space-y-3">
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >쮼l URL-SLUG est치 correctamente nombrado seg칰n el
                            apartado implementado o ajustado, asegurando que la
                            estructura incluya "/nombre-del-apartado" donde
                            corresponde?</span
                        >
                    </label>
                </div>
            </section>
            <section>
                <h2 class="text-2xl font-bold mb-4">5. One Pages</h2>
                <div class="flex flex-col space-y-3">
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >쮼l URL-SLUG est치 correctamente nombrado seg칰n el
                            apartado implementado o ajustado, asegurando que la
                            estructura incluya "/nombre-del-apartado" donde
                            corresponde?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >쮼st치n correctamente nombrados los slugs de los
                            anclajes de la web one page?</span
                        >
                    </label>
                </div>
            </section>
            <section>
                <h2 class="text-2xl font-bold mb-4">6. Logos y Archivos</h2>
                <div class="flex flex-col space-y-3">
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >Si el logo sufri칩 modificaciones, 쯘l implementador
                            actualiz칩 el logo?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >쯉i se actualiz칩 el logo, tambi칠n se actualiz칩 el
                            favicon?</span
                        >
                    </label>
                </div>
            </section>
            <section>
                <h2 class="text-2xl font-bold mb-4">
                    7. Idiomas y Contenido Multiling칲e
                </h2>
                <div class="flex flex-col space-y-3">
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >쯉e incluyeron los idiomas adicionales solicitados
                            por el cliente?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >쯃a p치gina est치 configurada en castellano? (No
                            aplica para proyectos fuera de la subvenci칩n o
                            aprobados por PO)</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >쯃a web presenta problemas con m치rgenes, im치genes
                            no acordes, iconos de contacto incorrectos, textos
                            con errores ortogr치ficos o textos de Lorem Ipsum?</span
                        >
                    </label>
                </div>
            </section>
            <section>
                <h2 class="text-2xl font-bold mb-4">
                    8. Configuraci칩n General de la Web
                </h2>
                <div class="flex flex-col space-y-3">
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >쯃a web tiene configuradas las m칠tricas
                            correctamente en Google Search Console y Google
                            Analytics?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >쯉e encuentran correctamente configurados los
                            competidores en SE ranking? (Solo para KD-ECOM)</span
                        >
                    </label>
                </div>
            </section>
            <section>
                <h2 class="text-2xl font-bold mb-4">
                    9. Otras Consideraciones
                </h2>
                <div class="flex flex-col space-y-3">
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span>쯃a web incluye las rese침as solicitadas?</span>
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >쯉e han considerado las solicitudes que no est치n en
                            Figma ni en Markup?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >쯉e corrigi칩 el nombre comercial a nivel de toda la
                            web como solicit칩 el cliente?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >쮼l implementador ejecut칩 el replies de
                            confirmaci칩n de cambio o justificaci칩n de la no
                            realizaci칩n?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >쯉e dejaron solicitudes claras por parte de
                            implementaci칩n?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >쮼l implementador revis칩 y cumpli칩 con lo
                            solicitado por el cliente en la documentaci칩n
                            adjuntada?</span
                        >
                    </label>
                </div>
            </section>
        </div>
    </div>
</LayoutsChecklist>
<CheckboxCounter />
