---
import LayoutsChecklist from "../../../layouts/Layouts-checklist.astro";
import "../../../assets/styles/global.css";

const title = "Copy";
const migaPan = "Post Memoria / Web";

import logo from "../../../assets/img/logo.svg";
import Image from "astro/components/Image.astro";

import CheckboxCounter from "../../../components/CheckboxCounter.astro";
---

<LayoutsChecklist>
    <div
        class="w-full h-[30dvh] bg-gradient-to-br from-white via-gray-100 to-lime-200 flex flex-col items-center justify-center px-8"
    >
        <div class="flex gap-8 items-center flex-col lg:flex-row">
            <a href="/"><Image src={logo} alt="Logo" class="w-36" /></a>
            <h1 class="text-5xl text-black font-semibold">{title}</h1>
        </div>
        <p
            class="text-sm border-primary border-2 px-6 rounded-2xl text-gray-400 hover:scale-105 transition-transform mt-6"
        >
            <a href="/Postmemoria" class="hover:scale-105"
                >{migaPan}<span class="ml-2">{title}</span></a
            >
        </p>
    </div>

    <div class="w-full p-12 min-h-[80dvh] max-w-5xl mx-auto">
        <div class="space-y-8">
            <section>
                <h2 class="text-2xl font-bold mb-4">1. Diseño</h2>
                <div class="flex flex-col space-y-3">
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿Se ha implementado correctamente el diseño de
                            Figma?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿Se aplicaron correctamente la tipografía y la
                            negrita según lo indicado en Figma?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿La calidad de las imágenes es adecuada para la
                            visualización del nuevo diseño solicitado por el
                            cliente?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿El formato de precio de los artículos coincide con
                            lo que desea el cliente? (Si no se especifica, se
                            utilizó el formato estándar).</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿Los iconos reflejan de manera adecuada la
                            representación visual del elemento web y su función?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿Se utilizaron los materiales proporcionados por el
                            cliente y almacenados en la carpeta de Drive?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿Los textos legales fueron modificados
                            correctamente según las peticiones del cliente?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿El footer de la web incluye los elementos mínimos
                            requeridos por el Kit Digital? (Logo y legales)</span
                        >
                    </label>
                </div>
            </section>

            <section>
                <h2 class="text-2xl font-bold mb-4">2. Funcionalidad</h2>
                <div class="flex flex-col space-y-3">
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿Los botones están funcionando correctamente en la
                            estructura modificada?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿Los formularios implementados funcionan
                            correctamente?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿Se realizó la configuración correcta del
                            ecommerce?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿El sistema añadido de búsqueda es funcional?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿Se llevó a cabo el enmascaramiento de manera
                            correcta?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿La web cuenta con análisis de palabras claves,
                            indexación, H1 y jerarquización del contenido?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿Contiene los accesos del WordPress con /KD-SysAd?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿Se encuentran los datos públicos del whois activos
                            en el dominio?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿Se ha respetado la directriz de no incluir CTA en
                            las secciones legales?</span
                        >
                    </label>
                </div>
            </section>

            <section>
                <h2 class="text-2xl font-bold mb-4">
                    3. Estructura y Responsividad
                </h2>
                <div class="flex flex-col space-y-3">
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿Se ha incluido un H1 en cada una de las páginas
                            implementadas?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿La estructura web ajustada es responsive y se
                            adapta correctamente a los layouts de diseño en PC,
                            tablet y móvil?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿Está ajustado el formato de correo, dirección,
                            horarios y mapa según las instrucciones del cliente?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿Los márgenes están de acuerdo al diseño requerido
                            por el cliente? Si el cliente no tiene márgenes
                            personalizadas cumple con las establecidas por
                            ORBIDI</span
                        >
                    </label>
                </div>
            </section>

            <section>
                <h2 class="text-2xl font-bold mb-4">4. URL y Navegación</h2>
                <div class="flex flex-col space-y-3">
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿El URL-SLUG está correctamente nombrado según el
                            apartado implementado o ajustado, asegurando que la
                            estructura incluya "/nombre-del-apartado" donde
                            corresponde?</span
                        >
                    </label>
                </div>
            </section>
            <section>
                <h2 class="text-2xl font-bold mb-4">5. One Pages</h2>
                <div class="flex flex-col space-y-3">
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿El URL-SLUG está correctamente nombrado según el
                            apartado implementado o ajustado, asegurando que la
                            estructura incluya "/nombre-del-apartado" donde
                            corresponde?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿Están correctamente nombrados los slugs de los
                            anclajes de la web one page?</span
                        >
                    </label>
                </div>
            </section>
            <section>
                <h2 class="text-2xl font-bold mb-4">6. Logos y Archivos</h2>
                <div class="flex flex-col space-y-3">
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >Si el logo sufrió modificaciones, ¿el implementador
                            actualizó el logo?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿Si se actualizó el logo, también se actualizó el
                            favicon?</span
                        >
                    </label>
                </div>
            </section>
            <section>
                <h2 class="text-2xl font-bold mb-4">
                    7. Idiomas y Contenido Multilingüe
                </h2>
                <div class="flex flex-col space-y-3">
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿Se incluyeron los idiomas adicionales solicitados
                            por el cliente?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿La página está configurada en castellano? (No
                            aplica para proyectos fuera de la subvención o
                            aprobados por PO)</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿La web presenta problemas con márgenes, imágenes
                            no acordes, iconos de contacto incorrectos, textos
                            con errores ortográficos o textos de Lorem Ipsum?</span
                        >
                    </label>
                </div>
            </section>
            <section>
                <h2 class="text-2xl font-bold mb-4">
                    8. Configuración General de la Web
                </h2>
                <div class="flex flex-col space-y-3">
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿La web tiene configuradas las métricas
                            correctamente en Google Search Console y Google
                            Analytics?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿Se encuentran correctamente configurados los
                            competidores en SE ranking? (Solo para KD-ECOM)</span
                        >
                    </label>
                </div>
            </section>
            <section>
                <h2 class="text-2xl font-bold mb-4">
                    9. Otras Consideraciones
                </h2>
                <div class="flex flex-col space-y-3">
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span>¿La web incluye las reseñas solicitadas?</span>
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿Se han considerado las solicitudes que no están en
                            Figma ni en Markup?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿Se corrigió el nombre comercial a nivel de toda la
                            web como solicitó el cliente?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿El implementador ejecutó el replies de
                            confirmación de cambio o justificación de la no
                            realización?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿Se dejaron solicitudes claras por parte de
                            implementación?</span
                        >
                    </label>
                    <label class="flex items-start gap-2">
                        <input type="checkbox" class="chk-activo mt-1" />
                        <span
                            >¿El implementador revisó y cumplió con lo
                            solicitado por el cliente en la documentación
                            adjuntada?</span
                        >
                    </label>
                </div>
            </section>
        </div>
    </div>
</LayoutsChecklist>
<CheckboxCounter />
