---
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="es">
	<head>
		<!-- HTML Meta Tags -->
<title>Checklist orbidi</title>
<meta name="description" content="Checklist orbidi | Creado por Nils Pineda">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://check-list-orbidi.vercel.app">
<meta property="og:type" content="website">
<meta property="og:title" content="Checklist orbidi">
<meta property="og:description" content="Checklist orbidi | Creado por Nils Pineda">
<meta property="og:image" content="https://opengraph.b-cdn.net/production/images/feb58758-44e6-4835-9a8b-7ebef9257bb6.png?token=9lH4BlCYvjOrXVxwNcJre5SJTcVJE9_-rNvoB6im2DE&height=500&width=500&expires=33292419886">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="check-list-orbidi.vercel.app">
<meta property="twitter:url" content="https://check-list-orbidi.vercel.app">
<meta name="twitter:title" content="Checklist orbidi">
<meta name="twitter:description" content="Checklist orbidi | Creado por Nils Pineda">
<meta name="twitter:image" content="https://opengraph.b-cdn.net/production/images/feb58758-44e6-4835-9a8b-7ebef9257bb6.png?token=9lH4BlCYvjOrXVxwNcJre5SJTcVJE9_-rNvoB6im2DE&height=500&width=500&expires=33292419886">

<!-- Meta Tags Generated via https://www.opengraph.xyz -->

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap"
			rel="stylesheet"
		/>
		    <meta name="robots" content="noindex, nofollow" />

		
		<title>Checklist orbidi</title>
	</head>
	<body class="h-dvh">
		<slot />
		<Footer />
	</body>
</html>
